<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>サイトタイトル</title>
 <style>
    .pic_frame {
      display: inline-block;
      text-align: center;
    }

    table {
      text-align: center;
    }
  </style>
 <meta name="description" content="ディスクリプションを入力">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/static/css/style.css">
 <!-- [if lt IE 9] -->
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
 <!-- [endif] -->
 <script src="/static/js/main.js"></script>
 </head>

 <body>
 
 <!----- main ----->
 <article>
 <h1>ふるさと納税 in Fukushima</h1>
 <section>

 <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
    <div class="pic_frame">
        <img src="/static/img/fukushima1.jpg" alt="桃">
        <p>旬食福来　15％引き　大玉1.8kgX2箱（4〜6玉）</p>
        <button onclick="location.href='./purchase'">購入</button>
        <p></p>
    </div>
	<div class="pic_frame">
        <img src="/static/img/fukushima2.jpg" alt="馬刺し">
        <p>会津ブランド認定国産馬刺し2種</p>
        <button onclick="location.href='./purchase'">購入</button>
        <p></p>
    </div>
	<div class="pic_frame">
        <img src="/static/img/fukushima3.jpg" alt="コシヒカリ">
        <p>米 10kg 送料無料 福島県産コシヒカリ 10kg(5kg×2袋) </p>
        <button onclick="location.href='./purchase'">購入</button>
        <p></p>
    </div>
    <div class="pic_frame">
        <img src="/static/img/fukushima4.jpg" alt="桃">
        <p>海鮮 漬け丼 セット 旬の5品5食 </p>
        <button onclick="location.href='./purchase'">購入</button>
        <p></p>
    </div>
	<div class="pic_frame">
        <img src="/static/img/fukushima5.jpg" alt="馬刺し">
        <p>福島県産 サンふじ りんご 約4.5kg箱 9〜25玉入訳あり</p>
        <button onclick="location.href='./purchase'">購入</button>
        <p></p>
    </div>
	<div class="pic_frame">
        <img src="/static/img/fukushima6.jpg" alt="コシヒカリ">
        <p>高級ブランド伊達鶏の唐揚げ 200g× 5パック</p>
        <button onclick="location.href='./purchase'">購入</button>
        <p></p>
    </div>
</div>

 </article>
 <!----- /main ----->
 
 <!----- footer ----->
 <footer>フッター</footer>
 <!----- /footer ----->
 </body>
</html>